.app-header {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding-block: 1em;
}

.app-nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.app-nav nav {
  display: flex;
  gap: 20px;
}

.app-nav nav a {
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.app-nav nav a:hover {
  transform: scale(1.2);
  background-color: rgb(72, 90, 7);
  color: white;
}
